@import './_slideshow.css';

@media screen and (min-width: 1024px) {
    
    .hero-section{

        margin-bottom: 100px;
        padding: 5rem 0;

    }

    .hero-section .hero-content h1{
        max-width: 645px;
        font-size: 65px;
    }

    .hero-section .hero-content p{

        color: #1d2326;
        width: 380px;
        margin-bottom: 50px;
        font-size: 18px;

    }

}

.hero-section .hero-content{

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.hero-section .hero-content h1{

    font-weight: 700;
    color: #212353;
    margin-bottom: 50px;
    max-width: 645px;

}

.hero-section .hero-content p{
    
    color: #1d2326;
    font-weight: 500;
    line-height: 2;

}

.black-bg{
    
    background-image: url("../img/backgrounds/black-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    opacity: 0.9;

}

.section2{

    margin-bottom: 100px;
    padding: 5rem 0;

}

.section3-imgs{

    padding: 1rem;
    transition: 0.5s;

}

.section3-imgs:hover{
    
    opacity: 0.5;
    padding: 2rem;

}

.section3-text{
    color: whitesmoke;
}